.text-block{
  width: calc(100vw /3);
  height:calc(100vw /3);
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 5rem;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: left;
  &:nth-child(1){
    background:black;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    text-align: right;
  }
}

.title{
color: white;
  font-weight: 900;
  font-size: 6rem;
}